body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(45, 77, 45);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}